.home{
    text-align: left;
    block-size: 20px;
    background-color: darkblue;
}
#homebutton{
    position: absolute;
    left:100px;
    top:17px;
    font-size: 22px;
    padding: 5px 10px 5px 10px;
}
#homebutton:hover{
    background-color: aqua;
}
.navi{
    text-align: right;
    block-size: 20px;
    background-color: darkblue;
    padding-left: 0;
    padding-right: 0;
    padding: 20px calc((100vw - 100%) / 2);
    
}
#firstbutton{
    position:absolute;
    right: 150px;
    top: 17px;
    font-size: 22px;
    padding: 5px 10px 5px 10px;
}
#firstbutton:hover{
    background-color: aquamarine;
}
.divtag{
   background-color: darkblue;
   color: aliceblue ;
}

.firstheading{
    font-size: 26px;
    font-family:"Arial Rounded MT","Cavolini","Congenial" ;
    color:azure;
}
.smg{
    font-size: 28px;
    font-family:"STHupo","Forte","Arial Rounded MT","Cavolini","Congenial";
    color:#7fff00;
}

body {
    margin: 0;
    padding: 0;
    background-color:azure;
  }
  
#about-style{
    color: yellow;
    font-size: 29px;
    font-family:"Forte";
    margin-left: 11%;
    margin-top: 3%;
    
}
.spantwo{
    position:absolute;
    top: 17px;
    left:15%;
}
.image{
    position:absolute;
    width: 650px;
    height: 350px;
    right:45px;
    top: 280px;
    border-style:solid;
    border-radius: 20px;
}
.main{
    width:200mm;
    height:297mm;
    margin: 0 100px 0 228px;
}
.formula{
    background-color: black;
    color:lightgoldenrodyellow;
    padding:9px 21px 11px 13px;
    font-size: 19px;
    font-family: "Arial Rounded MT";
}
.description{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',' Geneva',' Verdana', 'sans-serif';
}
.about-details{
    font-family: "Arial Narrow Bold", "sans-serif";
    font-size: 22px;
    margin-left: 228px;
    color:lightcyan;
    margin-right: 40%;
}
.main2{
    background-color: slateblue;
    padding-left: 0;
    padding-right: 0;
    padding: 20px calc((100vw - 100%) / 2);
}
.body2{
    background-color:antiquewhite;
}
#line{
    margin-left: 6px;
}
#gitlink{
    color: lightcoral;
}
.instructions{
    font-family: "Arial","Times New Roman","Forte";
    color: black;
    font-size: larger;
}
.box{
    border: 3px solid navy; /* Border style and color */
    border-radius: 10px;
    padding: 10px 0 35px 10px; /* Padding around the content */
    width:300px;
    background-color:antiquewhite; 
}
#submit:hover{
    background-color: #7fff00;
    color: black;
}